$RECYCLE.BIN/
*.bak
*.cab
*.class
*.ctxt
*.DS_Store
*.ear
*.iws
*.jar
*.launch
*.lnk
*.msi
*.msm
*.msp
*.pydevproject
*.swp
*.tmp
*.war
*~
*~.nib
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.buildpath
.classpath
.com.apple.timemachine.donotpresent
.cproject
.DocumentRevisions-V100
.externalToolBuilders/
.factorypath
.fseventsd
.gitignore
.idea/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea_modules/
.loadpath
.LSOverride
.metadata
.mtj.tmp/
.nb-gradle/
.netrwhist
.project
.recommenders
.recommenders/
.settings/
.Spotlight-V100
.springBeans
.target
.TemporaryItems
.tern-project
.texlipse
.Trashes
.VolumeIcon.icns
/out/
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
bin/
build/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
Desktop.ini
dist/
ehthumbs.db
fabric.properties
FastTwig.iml
hs_err_pid*
Icon
local.properties
nbbuild/
nbdist/
nbproject/private/
Network Trash Folder
Session.vim
tags
Temporary Items
Thumbs.db
tmp/
